<div class="d-flex flex-row-reverse">
  <button class="btn btn-outline-primary" (click)="novoCargo(template)">
    <i class="fa fa-plus-circle"></i>
    Novo
  </button>
</div>
<br />
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Descrição</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="cargos !== undefined && cargos?.length > 0">
    <tr *ngFor="let cargo of cargos">
      <td>{{ cargo.id }}</td>
      <td>{{ cargo.descricao }}</td>
      <td>
        <div class="d-flex flex-row-reverse">
          <div class="btn-group" dropdown>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn btn-secondary dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              Mais opções <span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="editarCargo(cargo, template)"
                  >Editar</a
                >
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item"
                  href="#"
                  (click)="excluirCargo(cargo, confirmDelete)"
                  >Excluir</a
                >
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="cargos === undefined || cargos?.length == 0">
    <tr>
      <td colspan="3" class="text-center">
        <h4>Nenhum cargo encontrado...</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- MODAL -->

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          {{headerCadastroEdicao}}
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('descricao').errors &&
                    registerForm.get('descricao').touched
                }"
                class="form-control"
                formControlName="descricao"
                placeholder=""
              />
              <div
                *ngIf="
                  registerForm.get('descricao').hasError('required') &&
                  registerForm.get('descricao').touched
                "
                class="invalid-feedback"
              >
                A descrição é obrigatória
              </div>
              <div
                *ngIf="
                  registerForm.get('descricao').hasError('minlength') &&
                  registerForm.get('descricao').touched
                "
                class="invalid-feedback"
              >
                A descrição deve possuir no mínimo 3 caracteres
              </div>
              <div
                *ngIf="
                  registerForm.get('descricao').hasError('maxlength') &&
                  registerForm.get('descricao').touched
                "
                class="invalid-feedback"
              >
                A descrição deve possuir no máximo 250 caracteres
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(template)"
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CONFIRM -->

<div
  bsModal
  #confirmDelete="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Deletando Cargo</h4>
        <button
          type="button"
          class="close pull-right"
          (click)="confirmDelete.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ bodyDeletarCargo }}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="confirmDelete.hide()"
        >
          CENCELAR
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="confirmeDelete(confirmDelete)"
        >
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>
