<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <a class="navbar-brand" routerLink="dashboard">OnboardingSIGDB1</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="cargos">Cargos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="empresas">Empresas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="funcionarios">Funcionários</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
